<header
  class="py-2 px-8 3xl:w-9/12 3xl:m-auto max-w-screen-3xl z-10 text-white bg-slate-800"
>
  <div class="flex justify-between items-center">
    <a href="/">
      <img
        src="../../assets/logoWhite.svg"
        alt="white logo"
        class="w-16 md:w-24"
      />
    </a>
    <div class="flex items-center gap-4">
      <a href="/">Home</a>
      <a href="/blog">Blog</a>
      <a href="/about-us">About us</a>
    </div>
    <button>
      <svg
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 25 17"
        class="w-6 h-4 fill-white"
      >
        <path d="M0 0h24.48v2H0zM0 7.47h24.48v2H0zM0 14.54h24.48v2H0z" />
      </svg>
    </button>
  </div>
</header>
