<div
  class="flex flex-col items-center xxs:gap-y-3 gap-y-10 py-10 md:grid md:grid-cols-2 relative"
>
  <h1 class="text-center text-4xl font-bold md:self-end md:text-left px-4">
    We are all about providing safe space for you
  </h1>

  <div class="self-center md:row-span-2 md:justify-self-end">
    <img
      src="/assets/safe.jpg"
      alt="tablet showing username and password"
      class="md:rounded-lg"
    />
  </div>
  <div
    class="flex flex-col items-center justify-center md:items-start md:self-start gap-y-7 px-4"
  >
    <p class="text-center md:text-left">
      You might be writing to record your daily experiences and emotions, to
      plan and organize your day and thoughts, to keep your creativity going or
      to express your dreams and desires. My Daily Journal is the place where
      you can do all of these and more.
    </p>

    <a
      routerLink="/create-entry"
      class="bg-orange-400 border-orange-500 px-8 py-2 rounded-lg"
      >Get Started</a
    >
  </div>
</div>
