<nav
  class="lg:hidden flex flex-col items-start gap-4 fixed top:16 lg:top-20 right-0 z-10 text-white bg-slate-800 w-60 p-5 rounded-bl-lg"
>
  <p
    class="w-full pb-2 text-center border-b-[1px] border-gray-700"
    *ngIf="isLogged"
  >
    {{ email }}
  </p>

  <a
    routerLink="/"
    routerLinkActive="active"
    class="p-2 rounded-lg"
    [routerLinkActiveOptions]="{ exact: true }"
    (click)="onLinkClick()"
    >Home</a
  >
  <a
    routerLink="/blog"
    routerLinkActive="active"
    class="p-2 rounded-lg"
    (click)="onLinkClick()"
    >Blog</a
  >
  <a
    routerLink="/my-journal"
    routerLinkActive="active"
    *ngIf="isLogged"
    class="p-2 rounded-lg"
    (click)="onLinkClick()"
    >My Journal</a
  >
  <a
    routerLink="/create-entry"
    routerLinkActive="active"
    *ngIf="isLogged"
    class="p-2 rounded-lg"
    (click)="onLinkClick()"
    >Create</a
  >
  <a
    routerLink="/about-us"
    routerLinkActive="active"
    class="p-2 rounded-lg"
    (click)="onLinkClick()"
    >About us</a
  >

  <div
    class="flex w-full justify-between border-t-[1px] border-gray-600 pt-4"
    *ngIf="!isLogged"
  >
    <a
      routerLink="/auth/login"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="p-2 rounded-lg"
      (click)="onLinkClick()"
      >Login</a
    >
    <a
      routerLink="/auth/register"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="p-2 rounded-lg"
      (click)="onLinkClick()"
      >Register</a
    >
  </div>
  <a
    routerLink="/auth/logout"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="p-2 rounded-lg"
    *ngIf="isLogged"
    (click)="onLinkClick()"
    >Logout</a
  >
</nav>
