<header
  class="px-4 lg:px-8 3xl:w-9/12 3xl:m-auto max-w-screen-3xl z-10 text-white bg-slate-800 h-18 md:h-24 flex justify-between items-center"
>
  <a routerLink="/">
    <img
      src="../../assets/logoWhite.svg"
      alt="white logo"
      class="w-16 md:w-20"
    />
  </a>
  <nav class="hidden lg:flex items-center gap-4">
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="p-2 rounded-lg"
      >Home</a
    >
    <a
      routerLink="/blog"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="p-2 rounded-lg"
      >Blog</a
    >
    <a
      routerLink="/my-journal"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngIf="isLogged"
      class="p-2 rounded-lg"
      >My Journal</a
    >
    <a
      routerLink="/create-entry"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngIf="isLogged"
      class="p-2 rounded-lg"
      >Create</a
    >
    <a
      routerLink="/about-us"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="p-2 rounded-lg"
      >About us</a
    >
  </nav>

  <div class="hidden lg:flex items-center gap-4" *ngIf="!isLogged">
    <a
      routerLink="/auth/login"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="p-2 rounded-lg"
      >Login</a
    >
    <a
      routerLink="/auth/register"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="p-2 rounded-lg"
      >Register</a
    >
  </div>
  <div class="hidden lg:flex items-center gap-4" *ngIf="isLogged">
    <p>Hello {{ email }}</p>
    <a
      routerLink="/auth/logout"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="p-2 rounded-lg"
      >Logout</a
    >
  </div>
  <button class="lg:hidden align-middle" (click)="toggleMobileNav()" *ngIf="!mobileNav">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 25 17"
      class="w-6 h-4 fill-white"
    >
      <path d="M0 0h24.48v2H0zM0 7.47h24.48v2H0zM0 14.54h24.48v2H0z" />
    </svg>
  </button>
  <button *ngIf="mobileNav" class="lg:hidden align-middle" (click)="toggleMobileNav()">
    <svg
      class="w-6 h-6 fill-white font-semibold"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 50 50"
    >
      <path
        d="M 9.15625 6.3125 L 6.3125 9.15625 L 22.15625 25 L 6.21875 40.96875 L 9.03125 43.78125 L 25 27.84375 L 40.9375 43.78125 L 43.78125 40.9375 L 27.84375 25 L 43.6875 9.15625 L 40.84375 6.3125 L 25 22.15625 Z"
      />
    </svg>
  </button>
</header>
<app-mobile-nav *ngIf="mobileNav" />
