<section
  class="flex flex-col gap-5 items-center w-[350px] h-[200px] border-2 bg-red-400 border-red-500 rounded-2xl shadow-[0_2px_4px_1px_rgba(190,193,202,0.5)] drop-shadow-xl text-white px-4 py-2"
>
  <p class="self-end -mt-0 -mr-3">
    <app-entry-label [label]="entry.blog" />
  </p>

  <div class="flex gap-5 self-start">
    <span>{{ entry._createdOn | date }}</span>
    <div *ngIf="entry.blog" class="flex gap-2">
      <span>Author:</span>
      <span *ngIf="entry.authorName">{{ entry.authorName }}</span>
      <span *ngIf="!entry.authorName">Anonymous</span>
    </div>
  </div>
  <p class="max-h-6 overflow-hidden">{{ entry.title | slice : 30 }}</p>
  <a
    [routerLink]="entry._id"
    class="px-8 py-2 text-white bg-orange-400 border-[1px] border-orange-500 rounded-lg self-end"
    >Details</a
  >
</section>
