<div
  class="flex flex-col items-center xxs:gap-y-3 gap-y-10 py-10 md:grid md:grid-cols-2 relative"
>
  <h1 class="text-center text-4xl font-bold md:self-end md:text-left px-4">
    Journal Every Day
  </h1>

  <div class="self-center md:row-span-2 md:justify-self-end">
    <img
      src="/assets/hero.jpg"
      alt="laptop and a journal"
      class="md:rounded-lg"
    />
  </div>
  <div
    class="flex flex-col items-center justify-center md:items-start md:self-start gap-y-7 px-4"
  >
    <p class="text-center md:text-left">
      This is your private sacred place. Here you can share your thoughts, plans
      and dreams.
    </p>

    <a routerLink="/create-entry" class="bg-orange-400 border-orange-500 px-8 py-2 rounded-lg">Start your journal</a>
  </div>
</div>
