<section
  class="flex flex-col items-center gap-y-10 py-10"
  *ngIf="isLoading"
>
  <app-loader />
</section>

<section class="flex flex-col items-center gap-y-10 py-10" *ngIf="!isLoading">
  <h2 class="text-center text-4xl font-bold" *ngIf="blogEntries.length > 0">
    Latest blog entries
  </h2>
  <app-no-entries *ngIf="blogEntries.length == 0" [title]="'blog'" />

  <ul
    class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 gap-5 place-items-center"
    *ngIf="blogEntries.length > 0"
  >
    <li *ngFor="let entry of blogEntries">
      <app-journal-entry [entry]="entry" />
    </li>
  </ul>
</section>
